{% extends 'expenses/ui.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
{% include 'inc/navbar.html' %}

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-4 pe-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Expenses</h2>
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#NewExpense">+ Add
                    Expense</button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.category }}</td>
                        <td>{{ expense.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-8 border-start ps-5">
            <h1>Expense Details</h1>
            <p>Select an Expense to view details</p>
        </div>
    </div>

    <button class="btn btn-lg btn-primary" style="position: fixed; bottom: 50px; right: 50px; z-index: 1030;"
        data-bs-toggle="modal" data-bs-target="#NewExpense">
        Create an Expense
    </button>
</div>

<div class="modal fade" id="NewExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="NewExpenseLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="NewExpenseLabel">Create Expense</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'create_expense' %}" id="expense_form" method="POST">
                    <div class="row">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                            <div class="mb-3">
                                <label for="amount" class="form-label">Amount</label>
                                <input type="number" class="form-control" id="amount" name="amount" required>
                            </div>
                            <div class="mb-3">
                                <label for="category" class="form-label">Split by</label>
                                <select class="form-select" id="split_method" name="split_method" required>
                                    <option disabled selected>Select an option</option>
                                    <option value="equal">Equal</option>
                                    <option value="percentage">Percentage</option>
                                    <option value="exact">Exact Share</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="participants">
                                <div class="row participant">
                                    <h4>Myself - Participant 1</h4>
                                    <div class="mb-3 col-md-6">
                                        <label for="amount_owed_1" class="form-label">Share</label>
                                        <input type="number" class="form-control" id="amount_owed_1"
                                            name="amount_owed_1" required>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="percentage_1" class="form-label">Percentage</label>
                                        <input type="number" min="0" max="100" class="form-control" id="percentage_1"
                                            name="percentage_1" required>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" id="addParticipantBtn">+ Add
                                Participant</button>
                        </div>

                        <script>
                            let participantCount = 1;

                            document.getElementById('addParticipantBtn').addEventListener('click', function () {
                                participantCount++;
                                const participantDiv = document.createElement('div');
                                participantDiv.classList.add('row', 'participant');
                                participantDiv.innerHTML = `
                                    <h4>Participant ${participantCount}</h4>
                                    <div class="mb-3 col-md-6">
                                        <label for="amount_owed_${participantCount}" class="form-label">Share</label>
                                        <input type="number" class="form-control" id="amount_owed_${participantCount}" name="amount_owed_${participantCount}" required>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="percentage_${participantCount}" class="form-label">Percentage</label>
                                        <input type="number" min="0" max="100" class="form-control" id="percentage_${participantCount}" name="percentage_${participantCount}" required>
                                    </div>
                                `;
                                document.getElementById('participants').appendChild(participantDiv);
                            });
                        </script>
                    </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" >Submit</button>
            </div> -->
    </div>
</div>
</div>

{% endblock %}
{% block scripts %}

{% endblock %}